@import '../../../partials/partials';
@include font-list;

.content {
  @include flex-column;
  @include desktop {
    flex-direction: row;
    @include desktop {
      justify-content: center;
      align-items: center;
    }
  }
  &__video-information {
    @include side-margin;
    @include desktop {
      margin-left: 11rem;
      width: 712px;
      margin-bottom: 2rem;
      border-right: 1px solid $divider;
      margin-right: 2rem;
    }
  }
  &__next-video {
    @include side-margin;
    @include desktop {
      margin: 0 11rem 0 0;
    }
  }
}
