@import '../../partials/_partials.scss';
@include font-list;

.video-info {
  display: flex;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__title {
    margin-bottom: 1rem;
    text-align: left;
    @include h2-header;
    @include tablet {
      margin-bottom: 1.5rem;
      flex-basis: 100%;
      font-size: 34px;
    }
    @include desktop {
      font-size: 40px;
      margin-top: 2rem;
    }
  }
  &__channel {
    display: flex;
    margin-bottom: 2rem;
    &--name {
      @include h3-subheader;
      font-weight: 600;
      margin-right: 0.5rem;
    }
    &--timestamp {
      @include h3-subheader;
      color: $text-label;
      font-weight: 600;
    }
  }
  &__social-medial {
    display: flex;
    margin-bottom: 1.5rem;
    @include tablet {
      margin-left: auto;
      align-items: baseline;
    }
    &--viewsIcon {
      margin-right: 0.5rem;
      @include desktop {
        width: 2rem;
      }
    }
    &--views {
      margin-right: 1rem;
      @include tablet {
        margin-right: 1.5rem;
        font-size: 1.3rem;
      }
    }
    &--likesIcon {
      margin-right: 0.5rem;
      @include desktop {
        width: 1.5rem;
      }
    }
    &--likes {
      margin-right: 0.5rem;
      @include desktop {
        margin-right: 2rem;
        font-size: 1.3rem;
      }
    }
  }
  &__divider {
    margin-bottom: 1.5rem;
    @include tablet {
      flex-basis: 100%;
      margin-bottom: 2.5rem;
    }
  }
  &__description {
    @include h4-paragraph;
    margin-bottom: 2.5rem;
    @include tablet {
      width: 600px;
      font-size: 1.2rem;
      line-height: 1.8rem;
      margin-bottom: 4rem;
    }
  }
}
