@import '../../partials/_partials.scss';
@include font-list;

.navbar {
  @include flex-column;
  @include side-margin;
  @include tablet {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
  &__logo {
    align-self: center;
    height: 1.5rem;
    margin: 1rem 0 0.5rem 0;
    @include tablet {
      margin-bottom: 1rem;
    }
  }
  &__upload {
    @include flex-row;
    flex-wrap: wrap;
    @include tablet {
      flex-wrap: nowrap;
      margin-top: 0.5rem;
    }
    &--search {
      letter-spacing: 1.5px;
      width: 100%;
      height: 3.063rem;
      background: $text-field-background url('../../assets/Icons/Icon-search.svg') no-repeat 5% 50%;
      border: 1px solid $text-field-border;
      border-radius: 4px;
      padding-left: 3.5rem;
      margin-bottom: 0.5rem;
      @include tablet {
        width: 13.125rem;
        margin-right: 1.5rem;
      }
      &::placeholder {
        font-size: 1rem;
      }
      &[type='text'] {
        font-size: 1.5rem;
      }
      &:focus {
        @include input-focus;
      }
    }
    &--button {
      background: url('../../assets/Icons/Icon-upload.svg') no-repeat 35% 50%;
      @include button-brainflix;
      @include h3-subheader;
      font-weight: 600;
      width: 13rem;
      height: 3rem;
      padding-left: 2.5rem;
      margin: 0 1rem 1rem 0;
      @include tablet {
        width: 6.875rem;
        background-position: 10%;
        padding-left: 1rem;
        margin-right: 1.5rem;
      }
    }
    &--figure {
      @include Profile-picture;
    }
    &--img {
      width: 3rem;
    }
  }
}
