@import '../../partials/partials';
@include font-list;

* {
  box-sizing: border-box;
}

.upload-container {
  @include side-margin;

  .title {
    @include h2-header;
    margin: 2rem 0;
    @include tablet {
      border-bottom: 1px solid $divider;
      padding-bottom: 2rem;
      margin-top: 3rem 0 0 0;
    }
  }
  .upload-form__container {
    @include flex-column;
    @include tablet {
      border-bottom: 1px solid $divider;
      margin-bottom: 2.5rem;
      padding-bottom: 1.25rem;
    }
    @include desktop {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      margin-right: 0;
    }
    .thumbnail {
      @include flex-column;
      margin-bottom: 2rem;
      @include tablet {
        padding-top: 2.5rem;
        margin-bottom: 2.5rem;
      }
      &__title {
        @include h3-subheader;
        color: $text-label;
        font-weight: 600;
      }
      &__figure {
        width: 18rem;
        height: 9.563rem;
        @include tablet {
          width: 21.5rem;
          height: 11.438rem;
        }
        @include desktop {
          margin-right: 1.5rem;
        }
        &--img {
          width: 100%;
        }
      }
    }
    .form {
      @include flex-column;
      justify-content: flex-start;
      align-items: flex-start;
      @include tablet {
        height: auto;
      }
      @include desktop {
        width: 44rem;
      }

      &__title-label {
        @include h5-labels;
        color: $text-label;
        font-weight: 800;
        margin-bottom: 2px;
      }
      &__title-input {
        width: 100%;
        height: 3rem;
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        padding-left: 1rem;
        @include form-input-box;
        &::placeholder {
          @include h5-labels;
        }
        &:focus {
          @include input-focus;
        }
      }
      &__description-label {
        @include h5-labels;
        color: $text-label;
        font-weight: 800;
        margin-bottom: 2px;
      }
      &__description-input {
        width: 100%;
        height: 8.938rem;
        margin-bottom: 2rem;
        padding: 1rem 0 0 0.5rem;
        @include form-input-box;
        &::placeholder {
          @include h5-labels;
        }
        &:focus {
          @include input-focus;
        }
        @include tablet {
          margin-top: 1rem;
        }
        @include desktop {
          height: 3.8rem;
        }
      }
    }
  }
  .submission {
    @include flex-column;
    @include tablet {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
    }
    @include desktop {
      max-width: 66.875rem;
    }

    &__cancel {
      @include button-brainflix;
      background-color: white;
      font-weight: 800;
      width: 18rem;
      height: 3rem;
      margin-bottom: 1.5rem;
      color: $brain-primary-cta;
      @include tablet {
        width: auto;
        margin-right: 2.5rem;
      }
    }
    &__submit {
      @include button-brainflix;
      font-weight: 800;
      width: 288px;
      height: 3rem;
      @include tablet {
        width: 10rem;
      }
    }
  }
}
