@import '../../partials/_partials.scss';
@include font-list;

.video-info {
  @include flex-column;
  &__title {
    text-align: left;
    margin-bottom: 1rem;
    @include h2-header;
    @include tablet {
      font-size: 2.125rem;
      flex-basis: 100%;
      margin-bottom: 1.5rem;
    }
    @include desktop {
      font-size: 2.25rem;
      margin-top: 2rem;
    }
  }
  &__social {
    @include flex-column;
    @include tablet {
      @include flex-row;
      width: 45rem;
    }
  }
  &__channel {
    display: flex;
    margin-bottom: 2rem;
    &--name {
      @include h3-subheader;
      font-weight: 600;
      margin-right: 0.5rem;
    }
    &--timestamp {
      @include h3-subheader;
      color: $text-label;
      font-weight: 600;
    }
  }
  &__social-media {
    display: flex;
    margin-bottom: 1.5rem;
    @include tablet {
      align-items: baseline;
      margin-left: auto;
    }
    &--viewsIcon {
      margin-right: 0.5rem;
      @include desktop {
        width: 2rem;
      }
    }
    &--views {
      margin-right: 1rem;
      @include tablet {
        margin-right: 1.5rem;
        font-size: 1.3rem;
      }
    }
    &--button {
      background-color: transparent;
      border: none;
      &:focus {
        outline: 0;
      }
      &:hover {
        transform: scale(1.4);
      }
      &:active {
        transform: scale(1);
      }
    }
    &--likesIcon {
      margin-right: 0.5rem;
      @include desktop {
        width: 1.5rem;
      }
    }
    &--likes {
      margin-right: 0.5rem;
      @include desktop {
        margin-right: 2rem;
        font-size: 1.3rem;
      }
    }
  }
  &__description {
    border-top: 1px solid $divider;
    padding-top: 1rem;
    margin-bottom: 2.5rem;
    @include tablet {
      width: 45rem;
      font-size: 1.2rem;
      line-height: 1.8rem;
      margin-bottom: 4rem;
    }
    @include desktop {
      width: 44.5rem;
    }
    &--text {
      @include tablet {
        width: 34rem;
      }
    }
  }
}
