@import '../../partials/partials';

.videoFigure {
  background-color: black;
  margin-bottom: 2rem;
  @include tablet {
    margin-bottom: 2.5rem;
  }
  &__video {
    width: 100%;
    height: 183px;
    @include tablet {
      margin-left: 2rem;
      margin-right: 2rem;
      width: 700px;
      height: 400px;
      object-fit: cover;
    }
  }
}
