@import '../../partials/partials';

.videoFigure {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  @include tablet {
    margin-bottom: 2.5rem;
  }
  &__video {
    width: 100%;
    height: 40%;
    object-fit: cover;
    @include tablet {
      margin-left: 2rem;
      margin-right: 2rem;
      width: 700px;
    }
    @include desktop {
      width: 944px;
      height: 540px;
      margin-left: 248px;
      margin-right: 248px;
    }
  }
}
