@import '../../partials/partials';

.next-video {
  display: flex;
  flex-wrap: wrap;
  @include side-margin;
  &__figure {
    margin-bottom: 24px;
    margin-right: 1rem;
    overflow: hidden;
    &--img {
      border-radius: 4px;
      // object-fit: cover;
      width: 120px;
      height: 70px;
      // max-width: 100%;
      // max-height: 100%;
    }
  }
  &__info {
    &--title {
      font-size: 1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      max-width: 152px;
      @include tablet {
        min-width: 200px;
      }
    }
    &--channel {
      margin-top: 0.5rem;
    }
  }
}
