@import '../../partials/partials';
@include font-list;

.conversation-container-posted {
  @include flex-column;
  align-items: center;
  @include tablet {
    flex-direction: row;
    width: auto;
    @include side-margin;
  }
}
.comment-container {
  @include flex-row;
  justify-content: center;
  margin-top: 1.5rem;
  width: 90%;
  border-bottom: 1px solid $divider;
  @include tablet {
    width: 624px;
    border-bottom: 1px solid $divider;
  }
  &__picture {
    @include Profile-picture;
  }
}
.comment-body {
  @include flex-row;
  width: auto;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 14rem;
  @include tablet {
    width: 624px;
    justify-content: flex-start;
  }
  &__name {
    @include h5-labels;
    margin-bottom: 1rem;
    font-weight: 600;
    @include tablet {
      margin-right: 1rem;
    }
  }
  &__date {
    @include h4-paragraph;
    color: $text-label;
  }
  &__comment {
    @include h4-paragraph;
    @include h5-labels;
    flex: 100%;
    width: 1.5rem;
    margin-bottom: 1.5rem;
    word-wrap: break-word;
  }
}
