@import '../../partials/partials';
@include font-list;

.comment {
  @include flex-row;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid $divider;
  margin-top: 1.5rem;
  @include tablet {
    justify-content: flex-start;
    border-bottom: 1px solid $divider;
  }
  &__figure {
    @include Profile-picture;
    flex-shrink: 0;
  }
  .comment-section {
    @include flex-row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    @include tablet {
      width: 624px;
      justify-content: flex-start;
    }
    &__name {
      @include h5-labels;
      font-weight: 600;
      margin-bottom: 1rem;
      @include tablet {
        margin-right: 1rem;
        margin-bottom: 0;
      }
    }
    &__date {
      @include h4-paragraph;
      color: $text-label;
    }
    &__comment {
      @include h4-paragraph;
      @include h5-labels;
      flex: 100%;
      width: 1.5rem;
      margin-bottom: 1.5rem;
      word-wrap: break-word;
    }
  }
}
