@import '../../partials/_partials.scss';
@include font-list;

.video {
  background-color: black;
}
.content {
  @include flex-column;
  @include desktop {
    flex-direction: row;
  }
  &__video-information {
    @include side-margin;
    @include desktop {
      margin-left: 11rem;
      width: 712px;
      margin-right: 2rem;
    }
  }
  &__next-video {
    @include side-margin;
    @include desktop {
      margin-right: 11rem;
      margin-left: 0;
    }
    &--title {
      color: $text-label;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}
