@import '../../partials/partials';

.video {
  background-color: black;
  &__figure {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    @include tablet {
      margin-bottom: 2.5rem;
    }
    &--video {
      width: 100%;
      height: 183px;
      object-fit: cover;
      @include tablet {
        margin: 0 2rem;
        min-width: 43.75rem;
        height: 400px;
      }
      @include desktop {
        width: 59rem;
        height: 33.75rem;
      }
    }
  }
}
